.partai-logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partai-logo .image-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5%;
}

.partai-logo .image-wrapper img {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}

.text-responsive {
    font-size: 30pt;

    @media screen and (max-width: 768px) {
        font-size: 24pt;
    }
}