.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200px, -30px);
    width: 100px;
}

.result-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20px, -30px);
    width: 100px;
}